<table>
    <caption>Statement Summary</caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="ID">Visa - 3412</td>
        <td data-label="Descripcion">04/01/2016</td>
        <td data-label="Estado">$1,190</td>
        <td data-label="Acciones">03/01/2016 - 03/31/2016</td>
      </tr>
    </tbody>
  </table>
  