
<!-- TODO: SELECTOR DE LISTA DE EMPRESA -->
<!-- (actualizarEmpresa)="recibirEmpresaActualizar($event)" -->
<!-- (empresaEliminar)=eliminarEmpresa($event) -->
<!-- operacion=accion($event) -->
<empresa-lista
(estadoModal)="EstadoModal($event)"
(tituloLista)="Titulo($event)"
(operacion)="accion($event)"
[empresa]="listado_de_Empresas"
(actualizarEmpresa)="EmpresaActualizar($event)"
>

</empresa-lista>

<!-- TODO: SELECTOR DE MODAL -->
<empresa-crear
[isVisible]="isVisibleModal"
(cerrarModal)="cerrarModal($event)"
[tituloModal]="cabeceraModal"
[esRegistro]="operacion"
(CrearActualizarEmpresa)="NuevaActualizarEmpresa($event)"
[empresaUtilizadaModal]="mostrarEmpresa"
>
</empresa-crear>