.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  /* background: #fff; */
  background: #44d3c0;
  padding: 0;
}

nz-content {
  margin: 0 16px;
  background-color: brown;
}

nz-breadcrumb {
  background-color: coral;
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  /* background: #fff; */
  background: #f5f4c8;
  /* min-height: 360px; */
  min-height: 437px;
}

nz-footer {
  background: #4941b9;
  text-align: center;
}
