<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="{{ tituloModal }}"
  (nzOnCancel)="emisionNuevoValorModal(false)"
  (nzOnOk)="enviarDatosDelFormulario()"
  [nzMaskClosable]="false"
  nzWidth="700px"
  [nzStyle]="{ top: '10px' }"
>
  <ng-container *nzModalContent>
    <!--  -->
    <form [formGroup]="formularioEmpresa">
      <div class="row">
        <div class="col">
          <label for="ruc">RUC</label>
          <input
            type="text"
            id="ruc"
            formControlName="empresa_ruc"
            class="form-control"
            placeholder="Ingrese RUC"
          />
          <span
            *ngIf="
              formularioEmpresa.controls['empresa_ruc'].getError('required') &&
              formularioEmpresa.controls['empresa_ruc'].touched
            "
            class="form-text text-danger"
          >
            *Este Campo es requerido
          </span>
          <span
            *ngIf="
              formularioEmpresa.controls['empresa_ruc'].getError('maxlength') &&
              formularioEmpresa.controls['empresa_ruc'].touched
            "
            class="form-text text-danger"
          >
            *Este campo debe tener un maximo de 11 numeros
          </span>
          <span
            *ngIf="
              formularioEmpresa.controls['empresa_ruc'].getError('minlength') &&
              formularioEmpresa.controls['empresa_ruc'].touched
            "
            class="form-text text-danger"
          >
          *Este campo debe tener un minimo de 11 numeros
          </span>
          <!--  -->
        </div>
        <div class="col">
          <label for="razonSocial">Razón Social</label>
          <input
            type="text"
            id="razonSocial"
            formControlName="empresa_razon_social"
            class="form-control"
            placeholder="Razón Social"
          />
          <span
            *ngIf="
              formularioEmpresa.controls['empresa_razon_social'].getError(
                'required'
              ) && formularioEmpresa.controls['empresa_razon_social'].touched
            "
            class="form-text text-danger"
          >
            *Este Campo es requerido
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="abreviatura">Abreviatura</label>
          <input
            type="text"
            id="abreviatura"
            class="form-control"
            formControlName="empresa_abreviatura"
            placeholder="Ingrese Abreviatura"
          />
          <span
            *ngIf="
              formularioEmpresa.controls['empresa_abreviatura'].getError(
                'required'
              ) && formularioEmpresa.controls['empresa_abreviatura'].touched
            "
            class="form-text text-danger"
          >
            *Este Campo es requerido
          </span>
        </div>
        <div class="col">
          <label for="nIncripcion">Nº Inscripcion SUNARP</label>
          <input
            type="text"
            id="nIncripcion"
            formControlName="empresa_inscripcion"
            class="form-control"
            placeholder="Iingrese Numero de Incripcion"
          />
          <span
            *ngIf="
              formularioEmpresa.controls['empresa_inscripcion'].getError(
                'required'
              ) && formularioEmpresa.controls['empresa_inscripcion'].touched
            "
            class="form-text text-danger"
          >
            *Este Campo es requerido
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="lugarIncripcion">Lugar Inscripcion</label>
          <input
            type="text"
            id="lugarIncripcion"
            formControlName="empresa_lugar_inscripcion"
            class="form-control"
            placeholder="Ingrese Lugar de Inscripcion"
          />
          <span
            *ngIf="
              formularioEmpresa.controls['empresa_lugar_inscripcion'].getError(
                'required'
              ) && formularioEmpresa.controls['empresa_lugar_inscripcion'].touched
            "
            class="form-text text-danger"
          >
            *Este Campo es requerido
          </span>
        </div>
        <div class="col">
          <label for="nMzLt">Nº/Mz/Lt</label>
          <input
            type="text"
            id="nMzLt"
            formControlName="empresa_mz"
            class="form-control"
            placeholder="Ingrese Nª - Mz - Lt"
          />
          <span
            *ngIf="
              formularioEmpresa.controls['empresa_mz'].getError('required') &&
              formularioEmpresa.controls['empresa_mz'].touched
            "
            class="form-text text-danger"
          >
            *Este Campo es requerido
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="telefono">Telefono</label>
          <input
            type="text"
            id="telefono"
            formControlName="empresa_telefono"
            class="form-control"
            placeholder="Ingrese Nº Telefono"
          />
          <span
            *ngIf="
              formularioEmpresa.controls['empresa_telefono'].getError(
                'required'
              ) && formularioEmpresa.controls['empresa_telefono'].touched
            "
            class="form-text text-danger"
          >
            *Este Campo es requerido
          </span>
        </div>
        <div class="col">
          <label for="email">E-mail</label>
          <input
            type="email"
            id="email"
            formControlName="empresa_email"
            class="form-control"
            placeholder="Ingrese E-mail"
          />
          <span
            *ngIf="
              formularioEmpresa.controls['empresa_email'].getError(
                'required'
              ) && formularioEmpresa.controls['empresa_email'].touched
            "
            class="form-text text-danger"
          >
            *Este Campo es requerido
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="partidaElectronica">Partida Electronica SUNARP</label>
          <input
            type="text"
            id="partidaElectronica"
            formControlName="empresa_partida_electronica"
            class="form-control"
            placeholder="Ingrese Partida Electronica"
          />
          <span
            *ngIf="
              formularioEmpresa.controls[
                'empresa_partida_electronica'
              ].getError('required') &&
              formularioEmpresa.controls['empresa_partida_electronica'].touched
            "
            class="form-text text-danger"
          >
            *Este Campo es requerido
          </span>
        </div>
        <div class="col">
          <label for="fechaInscripcion">Fecha Inscripcion SUNARP</label>
          <input
            type="date"
            id="fechaInscripcion"
            formControlName="empresa_fecha_incripcion"
            class="form-control"
          />
          <span
            *ngIf="
              formularioEmpresa.controls['empresa_fecha_incripcion'].getError(
                'required'
              ) &&
              formularioEmpresa.controls['empresa_fecha_incripcion'].touched
            "
            class="form-text text-danger"
          >
            *Este Campo es requerido
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="nombreVia">Nombre de Via</label>
          <input
            type="text"
            id="nombreVia"
            formControlName="empresa_nombre_via"
            class="form-control"
            placeholder="Ingrese Nombre Via"
          />
        </div>
        <div class="col">
          <label for="loteInterno">Lote Interno</label>
          <input
            type="text"
            id="loteInterno"
            formControlName="empresa_lote_interno"
            class="form-control"
            placeholder="Ingrese Lote Int."
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="nombreUrba">Nombre de Urb.</label>
          <input
            type="text"
            id="nombreUrba"
            formControlName="empresa_nombre_urb"
            class="form-control"
            placeholder="Ingrese Nombre de Urb."
          />
        </div>
        <div class="col">
          <label for="url">URL</label>
          <input
            type="text"
            id="url"
            formControlName="empresa_url"
            class="form-control"
            placeholder="Ingrese URL"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="referencia">Referencia</label>
          <input
            type="text"
            id="referencia"
            formControlName="empresa_referencia"
            class="form-control"
            placeholder="Ingrese referencia"
          />
          <span
            *ngIf="
              formularioEmpresa.controls['empresa_referencia'].getError(
                'required'
              ) && formularioEmpresa.controls['empresa_referencia'].touched
            "
            class="form-text text-danger"
          >
            *Este Campo es requerido
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="empresa_servicio">Servicio</label>
          <select id="empresa_servicio" formControlName="empresa_servicio" class="form-select" aria-label="Default select example">
            <option selected>SELECCIONE</option>
            <option value="1">Publico</option>
            <option value="2">Privado</option>
          </select>
        </div>
        <div class="col">
          <label for="empresa_tipo_servicio">Tipo de Servicio</label>
          <select id="empresa_tipo_servicio" formControlName="empresa_tipo_servicio" class="form-select" aria-label="Default select example">
            <option selected>SELECCIONE</option>
            <option value="1">Personas</option>
            <option value="2">Mercancias</option>
            <option value="3">Turismo</option>
          </select>
        </div>
      </div>
    </form>
    <!--  -->
    <div>
      {{esRegistro|json}}
    </div>
  </ng-container>
</nz-modal>
